<!--<p *ngIf="ulDetails">-->
  <!--Bienvenue dans l'UL de {{ulDetails.name}}-->
  <!--<span *ngIf="isBenevole1j()">Merci de nous aider pour la quête</span>-->
  <!--<span *ngIf="!isBenevole1j()">Vous êtes déjà bénévole de l'UL</span>-->
<!--</p>-->

<div class="container">

  <div class="login" *ngIf="step === UNKNOWN">
    <h3 class="authTitle">S'enregistrer</h3>
    <div class="row row-sm-offset-3 socialButtons">
      <div class="col-xs-2 col-sm-2">
        <a href="javascript:void(0)" class="btn btn-lg btn-block btn-facebook" data-toggle="tooltip" data-placement="top"
           title="Facebook" (click)="loginWithFacebook()">
          <i class="fa fa-facebook fa-2x"></i>
          <span class="hidden-xs"></span>
        </a>
      </div>
      <div class="col-xs-2 col-sm-2">
        <a href="javascript:void(0)" class="btn btn-lg btn-block btn-twitter" data-toggle="tooltip" data-placement="top"
           title="Twitter" (click)="loginWithTwitter()">
          <i class="fa fa-twitter fa-2x"></i>
          <span class="hidden-xs"></span>
        </a>
      </div>
      <div class="col-xs-2 col-sm-2">
        <a href="javascript:void(0)" class="btn btn-lg btn-block btn-google-plus" data-toggle="tooltip"
           data-placement="top"
           title="Google" (click)="loginWithGoogle()">
          <i class="fa fa-google fa-2x"></i>
          <span class="hidden-xs"></span>
        </a>
      </div>
    </div>
    <br>

    <div class="row row-sm-offset-3 loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="hrOr">
        <span class="spanOr">ou</span>
      </div>
    </div>

    <div class="row row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <form class="loginForm" action="" autocomplete="off" method="POST">
          <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-user"></span></span>
            <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="email">
          </div>
          <hr/>

          <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-key"></span></span>
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
          </div>
          <hr/>
          <button class="btn btn-lg btn-outline-primary btn-block" type="button" (click)="signingUpWithEmailAndPassword()"><i class="fa fa-sign-in"></i> Se connecter
          </button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="step === REGISTERING">
    <div class="login">
      <h3 class="authTitle">S'identifier</h3>
      <br>
      <div class="row row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">
          <form class="loginForm" action="" autocomplete="off" method="POST">
            <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-user"></span></span>
              <input type="text" class="form-control" name="name" placeholder="Nom" [(ngModel)]="registeredUser.last_name">
            </div>
            <hr/>
            <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-user"></span></span>
              <input type="text" class="form-control" name="firstname" placeholder="Prénom" [(ngModel)]="registeredUser.first_name">
            </div>
            <hr/>
            <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-user"></span></span>
              <input type="checkbox" aria-label="gender" [(checked)]="registeredUser.man">
            </div>
            <hr/>
            <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-user"></span></span>
              <input type="text" class="form-control" name="birthdate" placeholder="Date de naissance (AAAA-MM-JJ)" [(ngModel)]="registeredUser.birth_date"/>
            </div>
            <hr/>
            <div class="input-group">
              <span class="input-group-addon"><span class="fa fa-user"></span></span>
              <input type="text" class="form-control" name="phonenumber" placeholder="Numéro de téléphone portable" [(ngModel)]="registeredUser.mobile"/>
            </div>
            <hr/>

            <div *ngIf="!isBenevole1j()">
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                <input type="text" class="form-control" name="nivol" placeholder="Nivol" [(ngModel)]="registeredUser.nivol"/>
              </div>
              <hr/>
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                <select class="form-control" name="secteur" [(ngModel)]="registeredUser.secteur" [disabled]="isBenevole1j()">
                  <option [value]="1">social</option>
                  <option [value]="2">secours</option>
                  <option [value]="3" [disabled]="!isBenevole1j()">Bénévole d'un jour</option>
                </select>
              </div>
              <hr/>
            </div>
            
            <button class="btn btn-lg btn-outline-primary btn-block" type="button" (click)="registerUser()"><i class="fa fa-sign-in"></i> S'enregistrer
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
