<div class="container">
  <div class="login">
    <h3 class="authTitle">S'identifier</h3>
    <br>
    <div class="row row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <form class="loginForm" action="" autocomplete="off" method="POST" [formGroup]="registrationForm">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nom" formControlName="last_name">
          </div>
          <hr/>
          <div class="form-group">
            <input type="text" class="form-control" name="firstname" placeholder="Prénom"
                   formControlName="first_name">
          </div>
          <hr/>
          <div class="form-check">
            <label for="man" class="form-check-label">
              <input id="man" type="radio" formControlName="man" value="1" class="form-check-input"> Homme
            </label>
          </div>
          <div class="form-check">
            <label for="woman" class="form-check-label">
              <input id="woman" type="radio" formControlName="man" value="0" class="form-check-input"> Femme
            </label>
          </div>

          <hr/>
          <div class="alert alert-success" role="alert">
            La date de naissance nous permet de nous assurer que les mineurs
            ne sont pas envoyés sur des lieux de quêtes dans des conditions inadaptées.
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="birthdate" placeholder="Date de naissance (AAAA-MM-JJ)"
                   formControlName="birth_date"/>
            <div *ngIf="birth_date.invalid && (birth_date.dirty || birth_date.touched)"
                 class="text text-danger">

              <span *ngIf="birth_date.errors.required">
               La date de naissance est requise.
              </span>

              <span *ngIf="birth_date.errors.pattern">
                La date de naissance n'est pas valide.
              </span>
            </div>
          </div>

          <hr/>
          <div class="alert alert-success" role="alert">
            Le numéro de téléphone, comme toutes les autres données, n'est pas destiné à un usage externe.
            Il nous servira uniquement si nous devons vous contacter pendant vos créneaux de quête, en cas de problème.
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                +33
              </div>
            </div>
            <input id="mobile" type="text" class="form-control" name="mobile" placeholder="Numéro de téléphone portable"
                   formControlName="mobile" data-toggle="tooltip" data-placement="top" title="Tooltip on top"/>
          </div>
          <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
               class="text text-danger">

              <span *ngIf="mobile.errors.required">
               Le numéro de mobile est requis.
              </span>

            <span *ngIf="mobile.errors.pattern">
                Le numéro de mobile n'est pas valide.
              </span>
          </div>
          <hr/>

          <div *ngIf="!isBenevole1j">
            <div class="form-group">
              <input type="text" class="form-control" name="nivol" placeholder="Nivol"
                     formControlName="nivol"/>
            </div>
            <hr/>
            <div class="form-group">
              <select class="form-control" name="secteur" [formControlName]="secteur">
                <option [value]="1">social</option>
                <option [value]="2">secours</option>
                <option [value]="3" [disabled]="!isBenevole1j">Bénévole d'un jour</option>
              </select>
            </div>
            <hr/>
          </div>

          <button class="btn btn-lg btn-outline-primary btn-block" type="button" (click)="registerUser()"><i
            class="fa fa-sign-in"></i> S'enregistrer
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
