<div class="modal" id="waiting" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content" style="text-align: center;">
      <div class="modal-body">
        <div class="spinner-grow text-primary" role="status" style="width: 10rem; height: 10rem;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <a #closeModal href="javascript:void(0)" data-dismiss="modal" hidden></a>
  </div>
</div>
