<div fxLayout="column" fxLayoutAlign="center">

  <div fxHide.xs="true" fxFlex="300px" class='hero'></div>
  <div fxHide.gt-xs="true" fxFlex="100px" class='hero'></div>
  <h2 fxHide.xs="true" class="mat-display-2">RedQuest: l’application mobile compagnon du quêteur !</h2>
  <h2 fxHide.gt-xs="true" style="text-align:center; font-size:1.9em; white-space: pre">Le compagnon du quêteur !</h2>
  <div>

    <dl>
      <dt>
        <mat-icon color="warn">verified_user</mat-icon>Inscription requise
      </dt>
      <dd>
        <p>Pour continuer, il est nécessaire de s'inscrire.
          Pour cela veuillez cliquer sur le lien d'inscription que vous avez reçu par mail, ou scanner le QRcode affiché
          dans votre local.
        </p>
        <p>
          L’inscription est déléguée aux quêteurs, vous n’avez plus qu’à associer l’inscription avec un compte existant
          ou la valider pour créer un nouveau quêteur.
        </p>

        <p>
          Lors de l’inscription d’un bénévole, il est demandé son NIVOL. Une documentation explique comment un bénévole
          peut retrouver son nivol.
        </p>
      </dd>
    </dl>


  </div>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxFill fxLayoutGap="20px">
    <div fxLayout="column" fxFlex.xs fxFlex.gt-xs="50">
      <dl>
        <dt>
          <mat-icon color="warn">contact_support</mat-icon>Mes astuces
        </dt>
        <dd>
          La vidéo réalisée l’année dernière et des sections textuelles. <br>
          Vos contributions sont les bienvenues ici !
        </dd>
        <dt>
          <mat-icon color="warn">calendar_today</mat-icon>Ma quète
        </dt>
        <dd>Cela rappelle où et à quelle heure le quêteur doit quêter.
          Optionellement, le quêteur peut enregistrer son départ et son retour<sup>*</sup>. 
        </dd>
        <dt>
          <mat-icon color="warn">history</mat-icon>Mes troncs
        </dt>
        <dd>Dès que vous aurez compté le tronc d’un quêteur, les montant, poids, temps de quête et lieu seront affichés.
        </dd>
        <dt>
          <mat-icon color="warn">star_rate</mat-icon>Mes badges<sup>*</sup>
        </dt>
        <dd>Au fur et à mesure que les troncs du quêteur sont comptés, il gagnera des badges en
          fonction de son activité. Le but étant de motiver le quêteur à quêter plus !</dd>
        <dt>
          <mat-icon color="warn">cake</mat-icon>Mon classement<sup>*</sup>
        </dt>
        <dd>Le top des quêteurs de l’UL selon plusieurs axes. L’idée est toujours de motiver les
          quêteurs à quêter un peu plus...</dd>
      </dl>

    </div>
    <div fxHide.xs="true" fxFlex="50" fxLayout="column" fxLayoutAlign="center center" class="hero2">
      <div fxFlex></div>
      <!--   <span fxFlex="200px"></span>
      <mat-icon color="warn" fontSet="fa" fontIcon="fa-plus" style="font-size:25em"></mat-icon> -->
    </div>
  </div>
  <p>* : fonctionalité pas encore déployée.</p>
<!--   <p><i> L’application est en développement, nous allons déployer les fonctions pas encore activées au cours de la
      semaine.</i></p> -->
  <p><i> N’hésitez pas à nous faire part des bugs, améliorations souhaitées et suggestions.</i></p>
</div>