<div fxLayout="column" fxLayoutAlign="center">

  <div fxFlex="300px" class='hero'></div>
  <div>
    <h2>RedQuest: l’application mobile compagnon du quêteur !</h2>

    <p>

      L’inscription est déléguée aux quêteurs, vous n’avez plus qu’à associer l’inscription avec un compte existant ou
      la valider pour créer un nouveau quêteur.
    </p>

    <p>
      Lors de l’inscription d’un bénévole, il est demandé son NIVOL. Une documentation explique comment un bénévole peut
      retrouver son nivol.

    </p>

    <dl>

      <dt>Une section astuces de quête :</dt>
      <dd>
        La vidéo réalisée l’année dernière et des sections textuelles. Vos contributions sont les bienvenues ici (compte
        gmail requis, je vous donnerais l’accès dès que je vois la demande (je suis toujours en décalage horaire +6h))
      </dd>
      <dt>Une section “Mes Créneaux” :</dt>
      <dd> cela rappel ou et à quelle heure le quêteur doit quêter.
        Optionellement, le quêteur peut enregistrer son départ et son retour. (la fonction n’est pas encore activée)
      </dd>
      <dt>Historique de mes troncs :</dt>
      <dd>Dès que vous aurez compté le tronc d’un quêteur, le montant, poids, temps de quête et lieu sera affiché.
      </dd>
      <dt>Mes Badges :</dt>
      <dd>(pas encore activée) Au fur et a mesure que les troncs du quêteur sont comptés, il gagnera des badges en
        fonction de son activités. Le but étant de motiver le quêteur à quêter plus</dd>
      <dt>Classement :</dt>
      <dd>(pas encore activé) Le top des quêteurs de l’UL selon plusieurs axes. L’idée est toujours de motiver les
        quêteurs à quêter un peu plus.</dd>
    </dl>

    L’application est en développement, nous allons déployer les fonctions pas encore activées au cours de la semaine.
    N’hésitez pas à nous faire part des bugs, améliorations souhaités, suggestions.
    On ne pourra probablement pas prendre tout en compte, mais on notera les remarques pour l’année prochaine.

  </div>

  <mat-divider></mat-divider>

  <h2>Inscription requise</h2>
  <p>
    Bienvenue sur RedQuest ! Pour continuer, il est nécessaire de s'inscrire.
  </p>
  <p>
    Pour cela veuillez cliquer sur le lien d'inscription que vous avez reçu par mail, ou scanner le QRcode affiché dans
    votre local.
  </p>
</div>