<div fxLayout="column" fxLayoutAlign="center">

  <div fxHide.xs="true" fxFlex="300px" class='hero'></div>
  <div fxHide.gt-xs="true" fxFlex="100px" class='hero'></div>
  <h2 fxHide.xs="true" class="mat-display-2">RedQuest: l’application mobile compagnon du quêteur !</h2>
  <h2 fxHide.gt-xs="true" style="text-align:center; font-size:1.9em; white-space: pre">Le compagnon du quêteur !</h2>
  <div>

    <dl>
      <dt>
        <mat-icon color="warn">verified_user</mat-icon>Inscription requise
      </dt>
      <dd>
        <p>Afin de pouvoir utiliser <b style='font-size:1.2em; color:#f44336;'>RedQuest</b>, vous devez d’abord vous
          inscrire.</p>

        <p>Soit votre <b>Unité Locale</b> vous a envoyé un lien d’inscription, soit vous scannez le QRCode qui se trouve
          dans votre <b>Unité Locale</b>.</p>

        <p>Vous accéderez ainsi à la page d'inscription, et suivrez les étapes suivantes :</p>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-divider fxHide.gt-xs="true"></mat-divider>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon color="warn" fxFlex="30px" fontSet="fa" fontIcon="fa-user"></mat-icon>
            <p>Vous vous connecterez via <b *ngFor="let g of google" [ngStyle]="{'color':g.c}">{{g.a}}</b>,
              <b style='color:#3b5998'>facebook</b> ou création d’un compte avec <b>email/password</b></p>
          </div>
          <mat-divider fxHide.gt-xs="true"></mat-divider>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon color="warn" fxFlex="30px" fontSet="fa" fontIcon="fa-user-check"></mat-icon>
            <p>Votre inscription sera validée par un cadre de l’<b>Unité Locale</b></p>
          </div>
          <mat-divider fxHide.gt-xs="true"></mat-divider>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon color="warn" fxFlex="30px" fontSet="fa" fontIcon="fa-thumbs-up"></mat-icon>
            <p>Vous pourrez alors utiliser <b style='font-size:1.2em; color:#f44336;'>RedQuest</b></p>
          </div>
          <mat-divider fxHide.gt-xs="true"></mat-divider>
        </div>

      </dd>
    </dl>
  </div>
  <br>
  <div fxLayout="row" fxFill fxLayoutGap="20px">
    <div fxLayout="column" fxFlex.xs fxFlex.gt-xs="50">
      <h2>Que trouverez vous dans <b style='font-size:1.2em; color:#f44336;'>RedQuest</b> ?</h2>
      <dl>
        <dt>
          <mat-icon color="warn">contact_support</mat-icon>Mes astuces
        </dt>
        <dd>
          Une vidéo ludique vous expliquant les bases. <br>
          Et d’autres astuces et explications qui vous permettront de passer une bonne quête !
        </dd>
        <dt>
          <mat-icon color="warn">calendar_today</mat-icon>Ma quête
        </dt>
        <dd>Ou est ce que vous devez aller quêter ? On vous rappelle l’adresse et comment y aller ! </dd>
        <dt>
          <mat-icon color="warn">history</mat-icon>Mes troncs
        </dt>
        <dd>Dès que le trésorier aura compté votre tronc, vous retrouverez le résultat de vos troncs. </dd>
        <dt>
          <mat-icon color="warn">star_rate</mat-icon>Mes badges <sup>
            <mat-icon color="warn" fontSet="fa" fontIcon="fa-asterisk"></mat-icon>
          </sup>
        </dt>
        <dd>Au fur et à mesure que vous participerez à la quête, vous débloquerez des badges ! </dd>
        <dt>
          <mat-icon color="warn">cake</mat-icon>Mon classement <sup>
            <mat-icon color="warn" fontSet="fa" fontIcon="fa-asterisk"></mat-icon>
          </sup>
        </dt>
        <dd>Le top des quêteurs de l'<b>Unité Locale</b> selon plusieurs axes. Serez-vous dans le top 10 ? </dd>
      </dl>

    </div>
    <div fxHide.xs="true" fxFlex="50" fxLayout="column" fxLayoutAlign="center center" class="hero2">
      <div fxFlex></div>
      <!--   <span fxFlex="200px"></span>
      <mat-icon color="warn" fontSet="fa" fontIcon="fa-plus" style="font-size:25em"></mat-icon> -->
    </div>
  </div>
  <mat-divider></mat-divider>
  <br>
  <p>
    <mat-icon color="warn" fontSet="fa" fontIcon="fa-asterisk"></mat-icon>: fonctionalité pas encore déployée.
  </p>
  <!--   <p><i> L’application est en développement, nous allons déployer les fonctions pas encore activées au cours de la
      semaine.</i></p>
      <p><i> N’hésitez pas à nous faire part des bugs, améliorations souhaitées et suggestions.</i></p>
    -->
</div>