
.lien:hover {
    outline: none;
    cursor: pointer;
    mat-icon.mat-icon {
        zoom:1.2
    }
    h2 {
        color:red
    }
}
.hero {
    background:url("/assets/image.png") no-repeat 50% 50%/cover;
}