<section class="jumb">
  <h2>Mes créneaux</h2>
</section>

<mat-tab-group color="warn" mat-align-tabs="center" animationDuration="1000ms">
  <mat-tab label="Départ">

    <app-register-tronc-state #departureStepper [type]="'departure'"
      (troncUpdate)="handleTroncDeparture($event)" [troncs]="getTroncsDeparture()" [confirmation]="confirmation"
      (refreshEvent)="refresh()">
    </app-register-tronc-state>



  </mat-tab>
  <mat-tab label="Retour">
    <app-register-tronc-state #arrivalStepper [type]="'arrival'"
      (troncUpdate)="handleTroncArrival($event)" [troncs]="getTroncsArrival()" [confirmation]="confirmation"
      (refreshEvent)="refresh()">
    </app-register-tronc-state>
  </mat-tab>
</mat-tab-group>
