<section class="jumb">
  <h2>Mes créneaux</h2>
</section>

<mat-tab-group color="warn" mat-align-tabs="center" animationDuration="1000ms">
  <mat-tab label="Départ">

    <app-register-tronc-state #departureStepper *ngIf="getTroncsDeparture().length !== 0" [type]="'departure'"
      (troncUpdate)="handleTroncDeparture($event)" [troncs]="getTroncsDeparture()" [confirmation]="confirmation"
      (refreshEvent)="refresh()">
    </app-register-tronc-state>
    <span *ngIf="getTroncsDeparture().length === 0">Il n'y a aucun tronc prêt pour un départ.</span>



  </mat-tab>
  <mat-tab label="Retour">
    <app-register-tronc-state #arrivalStepper *ngIf="getTroncsArrival().length !== 0" [type]="'arrival'"
      (troncUpdate)="handleTroncArrival($event)" [troncs]="getTroncsArrival()" [confirmation]="confirmation"
      (refreshEvent)="refresh()">
    </app-register-tronc-state>
    <span *ngIf="getTroncsArrival().length === 0">Il n'y a aucun tronc sur le chemin du retour.</span>
  </mat-tab>
</mat-tab-group>