.year-centered {
  display: table-cell;
}

.history-card {
  width: 18rem;
}

.btn.custom-card,
.btn.custom-card:hover,
.bt.custom-card:focus {
  display: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: inherit;
  vertical-align: inherit;
  -webkit-user-select: inherit;
  -moz-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
  background-color: inherit;
  border: inherit;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
  transition: inherit;
}

.mat-card {
  margin: 1em;
}
