<section class="jumb">
  <h2>Mon historique</h2>

  <p *ngIf="!enabled">
    Cette section est encore en travaux et sera bientôt accessible !
  </p>
</section>

<div *ngIf="enabled">

  <mat-card>
    <mat-card-title>Année en cours</mat-card-title>
    <mat-action-list role="list" style="width: 100%;">
      <app-tronc-history *ngFor="let troncStat of statsTroncCurrentYear; let i = index" [troncStat]="troncStat" [troncIndex]="i+1"></app-tronc-history>
    </mat-action-list>

  </mat-card>

  <mat-accordion>

    <mat-expansion-panel *ngFor="let year of data">
      <mat-expansion-panel-header>
        {{year.year}}
      </mat-expansion-panel-header>

      <mat-chip-list>
        <mat-chip color="warn" selected>{{year.amount | number}}€</mat-chip>
        <mat-chip color="primary" selected>{{year.time_spent_in_minutes | time}}</mat-chip>
        <mat-chip color="accent" selected>{{year.weight | weight}}</mat-chip>
      </mat-chip-list>

    </mat-expansion-panel>

  </mat-accordion>
</div>
