<section class="jumb">
  <h2>Mon historique</h2>
</section>
<mat-accordion>

  <mat-expansion-panel *ngFor="let year of data">
    <mat-expansion-panel-header>
      {{year.year}}
    </mat-expansion-panel-header>

    <mat-chip-list>
      <mat-chip color="warn" selected>{{year.amount | number}}€</mat-chip>
      <mat-chip color="primary" selected>{{year.time_spent_in_minutes | time}}</mat-chip>
      <mat-chip color="accent" selected>{{year.weight | weight}}</mat-chip>
    </mat-chip-list>

  </mat-expansion-panel>

</mat-accordion>
