<mat-toolbar color="warn">
  <mat-toolbar-row fxShow fxHide.xs="true" fxLayout="row" fxLayoutAlign="start center">
    <span [routerLink]="['']" style="cursor: pointer; outline: none">
      <mat-icon fontSet="fa" fontIcon="fa-plus"></mat-icon>
      RedQuest <small class="mat-small projId"
        *ngIf="!env.production">{{env.firebaseConfig.projectId}}</small></span>
    <ng-container *ngIf="connected">
        <span fxFlex="50px"></span>
      <button mat-button routerLinkActive="selected" [routerLink]="['tips']">Astuces de quête</button>
      <button mat-button routerLinkActive="selected" [matMenuTriggerFor]="menu">Ma quête<mat-icon>
          arrow_drop_down
        </mat-icon></button>

      <button mat-button routerLinkActive="selected" [routerLink]="['ranking']">Ranking</button>
      <button mat-button routerLinkActive="selected" [routerLink]="['local-unit']">Mon unité locale</button>
      <button mat-button routerLinkActive="selected" [routerLink]="['credits']">A propos</button>
    </ng-container>
    <span fxFlex></span>
    <button *ngIf="authentified && queteur" mat-button [matMenuTriggerFor]="menuUser" routerLinkActive="selected">
      {{queteur.first_name}}
      <mat-icon> arrow_drop_down </mat-icon>
    </button>
    <button mat-button *ngIf="!authentified" routerLinkActive="selected" [routerLink]="['login']">
      Se connecter
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow fxHide.gt-xs="true" fxLayout="row" fxLayoutAlign="space-between center">

    <span [routerLink]="['']">RedQuest</span>
    <button mat-icon-button [matMenuTriggerFor]="menuFull" routerLinkActive="selected">
      <mat-icon>more_vert
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menuUser="matMenu">
  <ng-container *ngIf="connected">
    <button mat-menu-item [routerLink]="['registration/compte']">
      <mat-icon>face</mat-icon>Mon compte
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>vpn_key</mat-icon>Se déconnecter
    </button>
  </ng-container>
  <button mat-menu-item *ngIf="!authentified" routerLinkActive="selected" [routerLink]="['login']">
    <mat-icon>vpn_key</mat-icon>Se connecter
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let link of myLinks" [routerLink]="[link.route]">
    <mat-icon>{{link.icon}}</mat-icon>{{link.label}}
  </button>
</mat-menu>

<mat-menu #menuFull="matMenu">
  <ng-container *ngIf="connected">
    <button mat-menu-item *ngFor="let link of allLinks" [routerLink]="[link.route]">
      <mat-icon>{{link.icon}}</mat-icon>{{link.label}}
    </button>
  </ng-container>
  <button mat-menu-item *ngIf="!authentified" [routerLink]="['login']">
    <mat-icon>vpn_key</mat-icon> Se connecter
  </button>
  <button mat-menu-item *ngIf="authentified" (click)="logout()">
    <mat-icon>vpn_key</mat-icon>Se déconnecter
  </button>

</mat-menu>
<div fxLayout="row" fxFill>
  <div fxFlex.gt-xs="80" fxFlex.xs="92" fxFlexOffset.gt-xs="10" fxFlexOffset.xs="4" fxLayout="column" zstyle='background:yellow'>
    <router-outlet></router-outlet>
  </div>
</div>
