<mat-toolbar color="warn">
  <mat-toolbar-row fxShow fxHide.xs="true" fxLayout="row" fxLayoutAlign="start center">

    <span [routerLink]="['']">RedQuest</span>
    <button mat-button *ngIf="connected" routerLinkActive="selected" [routerLink]="['tips']">Astuces de quête</button>
    <button mat-button [matMenuTriggerFor]="menu" routerLinkActive="selected">Ma quête<mat-icon>arrow_drop_down
      </mat-icon></button>

    <button mat-button *ngIf="connected" routerLinkActive="selected" [routerLink]="['ranking']">Ranking</button>
    <span fxFlex></span>
    <button mat-button [matMenuTriggerFor]="menuUser" routerLinkActive="selected">{{queteur?.first_name}}<mat-icon>
        arrow_drop_down
      </mat-icon></button>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow fxHide.gt-xs="true" fxLayout="row" fxLayoutAlign="space-between center">

    <span [routerLink]="['']">RedQuest</span>
    <button mat-icon-button [matMenuTriggerFor]="menuFull" routerLinkActive="selected">
      <mat-icon>more_vert
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menuUser="matMenu">
  <button mat-menu-item *ngIf="connected" [routerLink]="['registration/compte']">
    <mat-icon>face</mat-icon>Mon compte
  </button>
  <button mat-menu-item *ngIf="connected" (click)="logout()">
    <mat-icon>vpn_key</mat-icon>Se déconnecter
  </button>
  <button mat-menu-item *ngIf="!authentified" routerLinkActive="selected" [routerLink]="['login']">
    <i class="fa fa-sign-in fa-lg"></i>
    <mat-icon>vpn_key</mat-icon>Se connecter
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let link of myLinks" [routerLink]="[link.route]">
    <mat-icon>{{link.icon}}</mat-icon>{{link.label}}
  </button>
</mat-menu>

<mat-menu #menuFull="matMenu">
  <ng-container *ngIf="connected">
    <button mat-menu-item *ngFor="let link of allLinks" [routerLink]="[link.route]">
      <mat-icon>{{link.icon}}</mat-icon>{{link.label}}
    </button>
  </ng-container>
  <button mat-menu-item *ngIf="!authentified" [routerLink]="['login']">
    <mat-icon>vpn_key</mat-icon> Se connecter
  </button>
  <button mat-menu-item *ngIf="authentified" (click)="logout()">
    <mat-icon>vpn_key</mat-icon>Se déconnecter
  </button>


</mat-menu>
<div fxLayout="row" zstyle='background:chartreuse'>
  <div fxFlex="80" fxFlexOffset="10" fxLayout="column" zstyle='background:yellow'>
    <router-outlet></router-outlet>
  </div>
</div>