<section class="jumb">
  <h2>Mon compte</h2>
  <p class="lead" *ngIf="queteurRegistrationNotApprovedYet()">
    Bienvenue sur RedQuest  <br/>
    Merci pour votre inscription :)<br/><br/>

    <strong style="font-size:20px;color:#7ab800">Celle-ci est en attente de validation par un cadre de la quête.</strong>

  </p>
  <p class="lead" *ngIf="queteurRegistrationRefused()">
    Votre inscription a été refusée pour la raison suivante: {{queteur.reject_reason}}
  </p>
  <div *ngIf="queteurRegistrationApproved()">
    <h3>Vos informations:</h3>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <span style="font-weight:bold;" fxFlex="25">Prénom</span> <span fxFlex="75">{{queteur.first_name}}</span>
      <span style="font-weight:bold;" fxFlex="25">Nom</span> <span fxFlex="75">{{queteur.last_name}}</span>
      <span style="font-weight:bold;" fxFlex="25"><mat-icon>contact_mail</mat-icon></span> <span fxFlex="75">{{queteur.email}}</span>
      <span style="font-weight:bold;" fxFlex="25">Nivol</span> <span fxFlex="75">{{queteur.nivol}}</span>
      <span style="font-weight:bold;" fxFlex="25"><img src="assets/birth-date.png" style="height: 24px;"></span> <span fxFlex="75">{{queteur.birthdate}}</span>
      <span style="font-weight:bold;" fxFlex="25"><mat-icon>contact_phone</mat-icon></span> <span fxFlex="75">{{queteur.mobile}}</span>
    </div>
  </div>
</section>
<div *ngIf="ulDetails">
  Pour anonymiser vos données, veuillez contacter l'Unité Locale {{ulDetails.name}} par email à l'adresse : <a
  [href]="'mailto:'+ulDetails.email">{{ulDetails.email}}</a>
</div>
<a mat-stroked-button href="https://bit.ly/rcq-rgpd" target="_blank" style="margin: 1em;"> Règlement Général<br fxHide.gt-xs="true"/>
  sur la Protection des Données</a>
