<div class="container mt-3 mb-3">
  <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
    <label class="btn btn-primary" [class.active]="registerState === 'departure'" (click)="switchStateTo('departure')">
      <input type="radio" name="options" id="option1" autocomplete="off" checked>
      Départ
    </label>
    <label class="btn btn-primary" [class.active]="registerState === 'arrival'" (click)="switchStateTo('arrival')">
      <input type="radio" name="options" id="option2" autocomplete="off"> Retour
    </label>
  </div>

  <ng-container *ngIf="registerState === 'departure'">
    <app-register-tronc-state *ngIf="getTroncsDeparture().length !== 0" [type]="'departure'"
                              (troncUpdate)="handleTroncDeparture($event)" [troncs]="getTroncsDeparture()">
    </app-register-tronc-state>
    <span *ngIf="getTroncsDeparture().length === 0">Il n'y a aucun tronc prêt pour un départ.</span>
  </ng-container>

  <ng-container *ngIf="registerState === 'arrival'">
    <app-register-tronc-state *ngIf="getTroncsArrival().length !== 0" [type]="'arrival'"
                              (troncUpdate)="handleTroncArrival($event)" [troncs]="getTroncsArrival()">
    </app-register-tronc-state>
    <span *ngIf="getTroncsArrival().length === 0">Il n'y a aucun tronc sur le chemin du retour.</span>
  </ng-container>

</div>

