$bronze : #b4a996;
$argent : #d7d7d8;
$or : #ecb731;
$redcross : #ed1b2e;
span.ba {
  padding: 3px 8px;
  border-radius:20px;
  color:white;
  font-weight: bold;
  margin: 0 5px;
&.l1 {
   background-color: $bronze;
 }
&.l2 {
   background-color: $argent;
 }
&.l3 {
   background-color: $or;
 }
&.l4 {
   background-color: $redcross;
 }
}

li {
  margin: 1em;
}
