<div class="container">
  <div class="jumbotron" >
    <h2 class="display-5">Bienvenue sur RedQuest</h2>
    <p class="lead" *ngIf="queteurRegistrationNotApprovedYet()">
      Merci pour votre inscription. Celle-ci est en attente de validation par un cadre de la quête.
    </p>
    <p class="lead" *ngIf="queteurRegistrationRefused()">
      Votre inscription a été refusée pour la raison suivante: {{queteur.reject_reaseon}}
    </p>
    <hr class="my-4">
    <p *ngIf="queteurRegistrationNotRefused()">
      Vos informations:
      <br/>
      <b>Prénom:</b> {{queteur.first_name}}
      <br/>
      <b>Nom:</b> {{queteur.last_name}}
      <br/>
      <b>Email:</b> {{queteur.email}}
      <br/>
      <b>Nivol:</b> {{queteur.nivol}}
      <br/>
      <b>Date de naissance:</b> {{queteur.birth_date}}
      <br/>
      <b>Numéro de téléphone:</b> {{queteur.mobile}}
    </p>
  </div>
</div>
