<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <span>Réinitialiser le mot de passe</span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content fxLayout="column" [formGroup]="loginForm">

  <mat-form-field fxFlex>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
    <mat-hint *ngIf="resetPasswordEmailSent"> L'email de réinitialisation du mot de passe a été envoyé.</mat-hint>
    <mat-error>{{errorMessage}}</mat-error>
  </mat-form-field>
  <span *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}} </span>


</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
  <button [disabled]="loginForm.invalid" mat-stroked-button color="primary" (click)="sendResetPwdEmail()">M'envoyer un email de
    réinitialisation</button>
</mat-dialog-actions>