<section class="jumb">
  <h2 class="display-5">Bientôt...</h2>
  <p class="lead">
    Vous retrouverez ici des badges à débloquer !
  </p>
</section>
<br>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="80" fxLayout="row wrap" fxLayoutGap="30px grid" fxLayoutAlign="space-between center">
    <div class="rcqbadge" fxLayout="column" fxLayoutAlign="center center" *ngFor="let badge of badges"
      [class.earned]="badge.earned">
      <span class="fa-stack fa-4x">
        <i class="fas fa-certificate fa-stack-2x"></i>
        <i class="fas {{badge.icon}} fa-stack-1x fa-inverse"></i>
      </span>
      <span>{{badge.label}}</span>
    </div>
  </div>
</div>