
.rcqbadge.earned {
  span.fa-stack {
    color: tomato;
    i.fa-certificate {
      text-shadow: 1px 3px 4px black;
    }
  }
  span {
    font-weight: bolder;
  }
}
.rcqbadge:not(.earned) {
  span.fa-stack { color:#ddd }
  span {
    color: #999;
  }
}
