<table class="table">
  <thead>
  <tr>
    <th scope="col">ul_id</th>
    <th scope="col">queteur_id</th>
    <th scope="col">tronc_count</th>
    <th scope="col">amount</th>
    <th scope="col">weight</th>
    <th scope="col">time_spent_in_minutes</th>
    <th scope="col">unique_point_quete_count</th>
    <th scope="col">first_name</th>
    <th scope="col">last_name</th>
    <th scope="col">year</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ranking of rankings">
    <th scope="row">1</th>
    <td>{{ranking.ul_id}}</td>
    <td>{{ranking.queteur_id}}</td>
    <td>{{ranking.tronc_count}}</td>
    <td>{{ranking.amount}}</td>
    <td>{{ranking.weight}}</td>
    <td>{{ranking.time_spent_in_minutes}}</td>
    <td>{{ranking.unique_point_quete_count}}</td>
    <td>{{ranking.first_name}}</td>
    <td>{{ranking.last_name}}</td>
    <td>{{ranking.year}}</td>
  </tr>
  </tbody>
</table>
